In [256]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

In [259]:
import seaborn as sns
color = sns.color_palette

In [267]:
import plotly.graph_objs as go
import plotly.offline as py
from plotly import tools
from plotly.offline import *

In [211]:
heroes = pd.read_csv("heroes_information.csv")

In [212]:
heroes.head()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [213]:
heroes.loc[heroes['Skin color'] != '-', ['name','Gender', 'Height']].head()

##shows the out putof column Name Gender and height for tor entries that have skin color entry.

          name Gender  Height
1   Abe Sapien   Male   191.0
2     Abin Sur   Male   185.0
17       Alien   Male   244.0
34  Apocalypse   Male   213.0
39   Archangel   Male   183.0

In [214]:
heroes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 11 columns):
Unnamed: 0    734 non-null int64
name          734 non-null object
Gender        734 non-null object
Eye color     734 non-null object
Race          734 non-null object
Hair color    734 non-null object
Height        734 non-null float64
Publisher     719 non-null object
Skin color    734 non-null object
Alignment     734 non-null object
Weight        732 non-null float64
dtypes: float64(2), int64(1), object(8)
memory usage: 63.2+ KB

In [215]:

heroes.loc[heroes['Weight'].isnull()]

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
286,286,Godzilla,-,-,Kaiju,-,108.0,NaN,grey,bad,NaN
389,389,King Kong,Male,yellow,Animal,Black,30.5,NaN,-,good,NaN

In [216]:
##counting number of null values in each column

In [217]:
print("missing value count in Skin color: ", len(heroes.loc[heroes['Skin color']=='-']))
print("missing value count in Hair color: ", len(heroes.loc[heroes['Hair color']=='-']))
print("missing value count in Eye color: ", len(heroes.loc[heroes['Eye color']=='-']))
print("missing value count in Gender: ", len(heroes.loc[heroes['Gender']=='-']))

missing value count in Skin color:  662
missing value count in Hair color:  172
missing value count in Eye color:  172
missing value count in Gender:  29

In [218]:
print("missing value count in Publisher: ", heroes['Publisher'].isnull().sum())
print("missing value count in Weight: ", heroes['Weight'].isnull().sum())

missing value count in Publisher:  15
missing value count in Weight:  2

In [219]:
list(heroes.Gender.unique())

['Male', 'Female', '-']

In [220]:
heroes.Gender.value_counts()

Male      505
Female    200
-          29
Name: Gender, dtype: int64

In [221]:
heroes.Weight.value_counts().head()

-99.0    237
 79.0     23
 54.0     23
 81.0     22
 90.0     19
Name: Weight, dtype: int64

In [222]:
heroes.replace(-99.0, np.nan, inplace=True)

In [223]:
heroes.head()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,NaN,Marvel Comics,-,bad,NaN

In [224]:
ht_wt = heroes[['Height','Weight']]

In [225]:
ht_wt.head()

   Height  Weight
0   203.0   441.0
1   191.0    65.0
2   185.0    90.0
3   203.0   441.0
4     NaN     NaN

In [226]:
from sklearn.preprocessing import Imputer

In [227]:
##from sklearn.impute import SimpleImputer

In [228]:
from sklearn.preprocessing import Imputer
imputer=Imputer(strategy='mean')
X = imputer.fit_transform(ht_wt)

In [229]:
type(X)

numpy.ndarray

In [230]:
heroes_h_w = pd.DataFrame(X, columns=ht_wt.columns)
heroes_h_w.head(2)

   Height  Weight
0   203.0   441.0
1   191.0    65.0

In [231]:
##remove Htwt from original DF

heroes_without_h_w= heroes.drop(['Height','Weight'],axis = 1)

In [232]:
heros_with_h_w=pd.concat([heroes,heroes_without_h_w], axis=1)

In [233]:
heros_with_h_w.drop(['Unnamed: 0'],axis=1, inplace=True)

In [234]:
heros_with_h_w.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight,name,Gender,Eye color,Race,Hair color,Publisher,Skin color,Alignment
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0,A-Bomb,Male,yellow,Human,No Hair,Marvel Comics,-,good
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics,blue,good
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0,Abin Sur,Male,blue,Ungaran,No Hair,DC Comics,red,good
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0,Abomination,Male,green,Human / Radiation,No Hair,Marvel Comics,-,bad
4,Abraxas,Male,blue,Cosmic Entity,Black,NaN,Marvel Comics,-,bad,NaN,Abraxas,Male,blue,Cosmic Entity,Black,Marvel Comics,-,bad

Insight from Data Set

In [235]:
##distribution of super heroes from each of the Publishers

In [236]:
publisher_series = heroes.Publisher.value_counts()

In [237]:
publisher_series.head()

Marvel Comics        388
DC Comics            215
NBC - Heroes          19
Dark Horse Comics     18
George Lucas          14
Name: Publisher, dtype: int64

In [238]:
publishers = list(publisher_series.index)

In [239]:
total=publisher_series.sum()

In [240]:
publications=list((publisher_series/total)*100)

PLOTTING

In [269]:
trace = go.Pie(labels=publishers, values=publications)

In [270]:
layout = go.Layout(title='distribution of publications by publishers', height=750, width=750)

In [271]:
data = [trace]

In [273]:
fig = go.Figure(data=data, layout=layout)
##py.iplot(fig, filename='comic-wise-distribution-by-publishers')

In [275]:
type(data)

list

In [297]:
heroes.head()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,unknown,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,unknown,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,NaN,Marvel Comics,unknown,bad,NaN

In [298]:
heroes.loc[heroes['name']=='Hulk']

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
331,331,Hulk,Male,green,Human / Radiation,Green,244.0,Marvel Comics,green,good,630.0

In [315]:
# No. of Super heros vs no. of super villan

tot_pub = (heroes.Publisher.value_counts().index)
col_names = ['Publisher', 'total_heroes', 'total_villians', 'total_neutral', 'total_unknown']

In [319]:
tot_pub

Index(['Marvel Comics', 'DC Comics', 'NBC - Heroes', 'Dark Horse Comics',
       'George Lucas', 'Image Comics', 'HarperCollins', 'Star Trek', 'SyFy',
       'Team Epic TV', 'IDW Publishing', 'Icon Comics', 'ABC Studios',
       'Shueisha', 'Wildstorm', 'Sony Pictures', 'South Park', 'Microsoft',
       'Universal Studios', 'J. R. R. Tolkien', 'Rebellion', 'J. K. Rowling',
       'Hanna-Barbera', 'Titan Books'],
      dtype='object')

In [320]:
df = pd.DataFrame(columns=col_names)

In [321]:
df

Empty DataFrame
Columns: [Publisher, total_heroes, total_villians, total_neutral, total_unknown]
Index: []

In [332]:
for publisher in tot_pub:
    data = []
    # adding the publisher names into list
    data.append(publisher)
    # slicing up the df for heroes from this publisher, 
    # converting to list, taking length -> total count of super heros from this publisher
    data.append(len(list(heroes.loc[(heroes['Alignment']=='good') & (heroes['Publisher']==publisher),'name'])))
    # slicing up the df for villians from this publisher, 
    # converting to list, taking length -> total count of villians from this publisher
    data.append(len(list(heroes.loc[(heroes['Alignment']=='bad') & (heroes['Publisher']==publisher),'name'])))
    # slicing up the df for neutral characters from this publisher, 
    # converting to list, taking length -> total count of neutral characters from this publisher
    data.append(len(list(heroes.loc[(heroes['Alignment']=='neutral') & (heroes['Publisher']==publisher),'name'])))
    # slicing up the df for unknowns from this publisher, 
    # converting to list, taking length -> total count of unknown characters from this publisher
    data.append(len(list(heroes.loc[(heroes['Alignment']=='unknown') & (heroes['Publisher']==publisher),'name'])))
    
    # append everything to as individual row into df
    df.loc[len(df)] = data

In [333]:
df.head()

           Publisher total_heroes total_villians total_neutral total_unknown
0      Marvel Comics          259            115            11             3
1          DC Comics          142             59            13             1
2       NBC - Heroes           16              3             0             0
3  Dark Horse Comics           12              6             0             0
4       George Lucas            8              6             0             0